<div class="container p-4">
    <div class="row">
        {{#each balance}}
            <div class="col-md-3">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{concept}}
                        </h3>
                        <p class="m-2">${{amount}}</p>
                        <p class="m-2">{{date}}</p>
                        <p class="m-2">{{type}}</p>
                        <p class="m-2">{{category}}</p>
                        <a href="" class="btn btn-danger">Borrar</a>
                        <a href="" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>