<div class="container p-4">
    <div class="row">
        {{#each balance}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{concept}}
                    </h3>
                    <p class="m-2">${{amount}}</p>
                    <p class="m-2">{{date}}</p>
                    <p class="m-2">{{type}}</p>
                    <p class="m-2">{{category}}</p>
                    <a href="/links/delete/{{id_balance}}" class="btn btn-danger">Borrar</a>
                    <a href="/links/edit/{{id_balance}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay presupuestos registrados :(</p>
                <a href="/links/add">Crea el primer presupuesto!!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>