<div class="container p-4">
    <div class="row">
        {{#each balance}}
        <div class="container-fluid">
            <div class="row shadow-lg p-3 mb-5">
                <div class="col">
                    <table id="tableP" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Monto</th>
                                <th>Categoría</th>
                                <th>Fecha</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{concept}}</td>
                                <td>{{type}}</td>
                                <td>{{amount}}</td>
                                <td>{{category}}</td>
                                <td>{{date}}</td>
                                <td> <a href="/links/delete/{{id_balance}}" class="btn btn-danger">Borrar</a>
                                    <a href="/links/edit/{{id_balance}}" class="btn btn-secondary">Editar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay presupuestos registrados :(</p>
                <a href="/links/add">Crea el primer presupuesto!!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>